
body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	color: #333;
	background: #d0cdc4;
}

h2 {
	margin: 0;
	font-size: 1.5em;
	font-weight: bold;
	font-family: 'Courgette', cursive;
	color: #333;
}


#map { 
	clear: both;
	height: 100%;
}

#site-title-container {
	position:absolute;
	width: 100%;
	z-index: 400;
	background: #d0cdc4;
	height: 2em;
	vertical-align: top;
}
	#site-tagline {
		float: left;
		margin: 0;
		padding: 0.1em 20px;
	}
	#site-links {
		float: right;
		margin: 0;
		right: 0;
		padding: 0.1em 20px;
	}
		#site-links a {
			margin-left: 15px;
		}
		#site-links a .link-label {
			display: none;
		}
		#site-links a:hover .link-label {
			display: inline;
		}
		#site-links .link-icon {
			display: inline-block;
			width: 24px;
			height: 24px;
			content: '';
			text-indent: -999em;
			background-size: 24px 24px;
			margin-left: 3px;
		}
		#about .link-icon {
			background-image: url("/images/icon-about.png");
		}
		#about:hover .link-icon {
			background-image: url("/images/icon-about-hover.png");
		}
		#login .link-icon {
			background-image: url("/images/icon-login.png");
		}
		#login:hover .link-icon {
			background-image: url("/images/icon-login-hover.png");
		}

	#site-title {
		margin: 0 auto;
		padding: 10px 20px;
		width: 156px;
		background: #d0cdc4;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}
		#site-title h1 {
			display:none;
			margin: auto;
		}
		#site-title img#site-logo {
			width: 116px;
			height: 80px;
		}

#side-boxes {
	position: absolute;
	margin: 0;
	margin-top: 100px;
	width: 100%;
	z-index: 400;
	pointer-events: none;
}
	@media (max-width: 768px) {
		#side-boxes {
			margin-top: 550px;
		}
	}
	.side-box {
		padding: 10px 10px;
		min-height: 100px;
		background: #d0cdc4;
		border: 3px solid #8c8dab;
		pointer-events: auto;
	}
	#side-control {
		border-left-style: none;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
	}
	#side-info {
		float: right;
		border-right-style: none;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}

.map-filters input[type=checkbox] {
	display:none;
}
	.map-filters input[type=checkbox] + .checkbox-eye {
		height: 17px;
		width: 30px;
		display:inline-block;
		padding: 0 0 0 5px;
		background-image: url('/images/display-off.png');
	}
	.map-filters input[type=checkbox]:checked + .checkbox-eye {
		background-image: url('/images/display-on.png');
	}
	.map-filters label:hover, .map-filters input[type=checkbox] + .checkbox-eye:hover {
		cursor: pointer;
	}

#location-list {
	overflow: auto;
}

.leaflet-control-zoom {
	top: 34px;
	left: 34px;
}
	@media (max-width: 768px) {
		.leaflet-control-zoom {
			top: 17px;
			left: 0;
		}
	}
	.leaflet-control-zoom a {
		display: inline-block;
		width: 32px;
		height: 32px;
	}
	.leaflet-control-zoom-in {
		background-size: 32px 320px;
	}
	.leaflet-bar .leaflet-control-zoom-out {
		background-position: 0 -32px;
		background-size: 32px 320px;
	}
	.leaflet-control-zoom-uk {
		background-image: url("/images/map-icons.png");
		background-position: 4px 4px;
		background-size: 26px 56px;
		content: '';
		text-indent: -999em;
	}
	.leaflet-control-zoom-world {
		background-image: url("/images/map-icons.png");
		background-position: 2px -28px;
		background-size: 28px 58px;
		content: '';
		text-indent: -999em;
	}
	@media (max-width: 768px) {
		.leaflet-container .leaflet-control-attribution {
			bottom: 4em;
		}
	}

#site-footer {
	position:absolute;
	z-index: 400;
	bottom: 0;
	height: 2em;
	padding: 3px 10px;
	background: #d0cdc4;
	vertical-align: middle;
}
	@media (max-width: 768px) {
		#site-footer {
			width: 100%;
			bottom: 17px;
		}
