
#map { 
	clear: both;
	height: 100%;
}

#site-title-container {
	position:absolute;
	width: 100%;
	z-index: 400;
	background: #d0cdc4;
	height: 2em;
	vertical-align: top;
}
	#site-tagline {
		float: left;
		margin: 0;
		padding: 0.1em 20px;
	}
	#site-links {
		float: right;
		margin: 0;
		right: 0;
		padding: 0.1em 20px;
	}
		#site-links .link-label {
			display: none;
		}
	#site-title {
		margin: 0 auto;
		padding: 10px 20px;
		width: 156px;
		background: #d0cdc4;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}
		#site-title h1 {
			display:none;
			margin: auto;
		}
		#site-title img#site-logo {
			width: 116px;
			height: 80px;
		}

#side-boxes {
	position: absolute;
	margin: 0;
	margin-top: 100px;
	width: 100%;
	z-index: 400;
}
	.side-box {
		padding: 10px 10px;
		min-height: 100px;
		background: #d0cdc4;
		border: 3px solid #8c8dab;
	}
	#side-control {
		border-left-style: none;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
	}
	#side-info {
		border-right-style: none;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	color: #333;
}

h2 {
	margin: 0;
	font-size: 1.5em;
	font-weight: bold;
	font-family: 'Courgette', cursive;
	color: #333;
}